<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arrawdah.enjoy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HtmlReader"
            android:label="@string/title_activity_html_reader"></activity>
        <activity
            android:name=".FavoritePage"
            android:label="@string/title_activity_favorite_gallery"></activity>
        <activity
            android:name=".IndexBook"
            android:label="@string/title_activity_index_book"></activity>
        <activity
            android:name=".InfoApp"
            android:label="@string/title_activity_info_app"></activity>
        <activity
            android:name=".ReaderHtml"
            android:label="@string/title_activity_reader_html"></activity>
    </application>

</manifest>